body {
    font-family: "Roboto", sans-serif;
    color: #DADFE6;
    background-color: #202124;
    font-size: 18px;
}
a:link, a:visited, a:active {
    color:#8AE6E6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 65px;
    font-weight: 700;
}
h2 {
    font-size: 30px;
    font-weight: 700;
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
